﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
	var content = (ContentModels.MyBlock)Model.Content;
	var settings = (ContentModels.MyBlock)Model.Settings;
}
<h1>@content.Value("mandatoryName") @content.Value("title")</h1>
<p>